html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
}

.App .board-container {
  border: 1px solid black;
}

.App .board-container .line {
  display: flex;
}

.App .board-container .line .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  font-size: 70px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.App .board-container .line .cell:hover {
  background-color: #aaa;
}

.App .board-container .line .cell.winner {
  background-color: green;
  color: white;
}

.replay-button {
  background-color: blue;
  color: white;
}
